@font-face {
    font-family: 'Permanent';
    src: url('../Fonts/Permanent/PermanentMarker-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../Fonts/Open Sans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../Fonts/Montserrat/Montserrat-Regular.ttf');
}